exe
\exe
\.venv
\venv
\sixth
\.sixth
\source\logs
\source\server\__pycache__
\source\routes\__pycache__
\VSAT_Simulator_Package\source\server\routes\__pycache__
VSAT_Simulator_Package\source\server\__pycache__
VSAT_Simulator_Package\source\logs
VSAT_Simulator_Package\source\data