<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/ls.css">
    <title>Site Setup</title>
</head>
<body>
<center>
    <h2>Site Setup</h2>
    <table width="700">
        <tbody>
            <tr><th>Parameter</th><th>Value</th></tr>
            <tr><td>Site ID</td><td><b>0</b></td></tr>
            <tr><td>Station Number</td><td><b>0</b></td></tr>
            <tr><td>Network ID</td><td><b>1</b></td></tr>
            <tr><td>Profile</td><td><b>1-Star station</b></td></tr>
        </tbody>
    </table>
    <p><a href="/sim/ss40">Back to Overview</a></p>
</center>
</body>
</html>
