<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/ls.css">
    <title>Profiles</title>
</head>
<body>
<center>
    <h2>Profiles Configuration</h2>
    <table width="700">
        <tbody>
            <tr><th>Profile #</th><th>Name</th><th>Type</th></tr>
            <tr><td>1</td><td><b>1-Star station</b></td><td><b>DAMA</b></td></tr>
            <tr><td>2</td><td><b>MF Hub</b></td><td><b>MF-TDMA</b></td></tr>
        </tbody>
    </table>
    <p><a href="/sim/ss40">Back to Overview</a></p>
</center>
</body>
</html>
