<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/ls.css">
    <title>Profiles - TDMA Protocol</title>
</head>
<body>
<center>
<h3>Profile <span id="profile_num">2</span> (<span id="profile_name">MF hub</span>)</h3>
<div class="tabs">
    <a href="/sim/profiles/basic" class="tab">Basic</a>
    <a href="/sim/profiles/tdm_rx" class="tab">TDM/SCPC RX</a>
    <a href="/sim/profiles/tdm_tx" class="tab">TDM/SCPC TX</a>
    <a href="/sim/profiles/modulator" class="tab">Modulator</a>
    <a href="/sim/profiles/timing" class="tab">Timing</a>
    <a href="/sim/profiles/tlc" class="tab">TLC</a>
    <a href="/sim/profiles/tdm_acm" class="tab">TDM ACM</a>
    <br>
    <a href="/sim/profiles/tdma_rf" class="tab">TDMA RF</a>
    <a href="/sim/profiles/tdma_prot" class="tab active">TDMA prot</a>
    <a href="/sim/profiles/tdma_bw" class="tab">TDMA BW</a>
    <a href="/sim/profiles/tdma_acm" class="tab">TDMA ACM</a>
    <a href="/sim/profiles/roaming" class="tab">Roaming</a>
</div>

<h3>TDMA protocol</h3>
<form id="tdmaProtForm">
    <input name="da" type="hidden" value="2">
    <table>
        <tbody>
            <tr>
                <td>Inroute number 1-250</td>
                <td><input name="de" type="text" size="2" maxlen="2" value="1"></td>
            </tr>
            <tr>
                <td>Frame length (slots) 16-252<br>Auto x4/x8 rounding</td>
                <td><input name="db" type="text" size="3" maxlen="3" value="64"></td>
            </tr>
            <tr>
                <td>Slot size 2-15</td>
                <td><input name="dc" type="text" size="1" maxlen="1" value="8"></td>
            </tr>
            <tr>
                <td>Stations 1-2040</td>
                <td><input name="dd" type="text" size="4" maxlen="4" value="10"></td>
            </tr>
            <tr>
                <td>Do not check for stations</td>
                <td><input name="dg" type="checkbox" value="1" checked></td>
            </tr>
        </tbody>
    </table>
    <br>
    <input type="button" name="tf" value="Apply" onclick="applySettings()">
    <div align="left"><a href="/sim/cc3">Back</a></div>
</form>
</center>
<script>
function applySettings() {
    fetch('/api/profiles/tdma_prot', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({
            profile_num: document.querySelector('input[name="da"]').value,
            inroute_num: parseInt(document.querySelector('input[name="de"]').value),
            frame_length: parseInt(document.querySelector('input[name="db"]').value),
            slot_size: parseInt(document.querySelector('input[name="dc"]').value),
            stations: parseInt(document.querySelector('input[name="dd"]').value),
            no_check: document.querySelector('input[name="dg"]').checked
        })
    }).then(r => r.json()).then(d => alert('TDMA Protocol settings applied: ' + JSON.stringify(d)));
}
</script>
</body>
</html>
