<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/ls.css">
    <title>Profiles - TDMA ACM</title>
</head>
<body>
<center>
<h3>Profile <span id="profile_num">2</span> (<span id="profile_name">MF hub</span>)</h3>
<div class="tabs">
    <a href="/sim/profiles/basic" class="tab">Basic</a>
    <a href="/sim/profiles/tdm_rx" class="tab">TDM/SCPC RX</a>
    <a href="/sim/profiles/tdm_tx" class="tab">TDM/SCPC TX</a>
    <a href="/sim/profiles/modulator" class="tab">Modulator</a>
    <a href="/sim/profiles/timing" class="tab">Timing</a>
    <a href="/sim/profiles/tlc" class="tab">TLC</a>
    <a href="/sim/profiles/tdm_acm" class="tab">TDM ACM</a>
    <br>
    <a href="/sim/profiles/tdma_rf" class="tab">TDMA RF</a>
    <a href="/sim/profiles/tdma_prot" class="tab">TDMA prot</a>
    <a href="/sim/profiles/tdma_bw" class="tab">TDMA BW</a>
    <a href="/sim/profiles/tdma_acm" class="tab active">TDMA ACM</a>
    <a href="/sim/profiles/roaming" class="tab">Roaming</a>
</div>

<h3>TDMA ACM settings</h3>
<form id="tdmaAcmForm">
    <input name="da" type="hidden" value="2">
    <table>
        <tbody>
            <tr>
                <td>ACM enable</td>
                <td><input name="db" type="checkbox" value="1"></td>
            </tr>
            <tr>
                <td>Mode</td>
                <td>
                    <select name="dc">
                        <option value="0" selected>Legacy</option>
                        <option value="1">Extended</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <table>
        <tbody>
            <tr><th>Active</th><th>MODCOD</th><th>Threshold (dB)</th></tr>
            <tr>
                <td><input name="df" type="checkbox" value="1" checked></td>
                <td>QPSK 1/2</td>
                <td><input name="te" type="text" size="5" maxlength="5" value="2.6"></td>
            </tr>
            <tr>
                <td><input name="dg" type="checkbox" value="1" checked></td>
                <td>QPSK 2/3</td>
                <td><input name="tf" type="text" size="5" maxlength="5" value="4.0"></td>
            </tr>
            <tr>
                <td><input name="dh" type="checkbox" value="1" checked></td>
                <td>QPSK 3/4</td>
                <td><input name="tg" type="text" size="5" maxlength="5" value="5.1"></td>
            </tr>
            <tr>
                <td><input name="di" type="checkbox" value="1" checked></td>
                <td>QPSK 5/6</td>
                <td><input name="th" type="text" size="5" maxlength="5" value="6.1"></td>
            </tr>
        </tbody>
    </table>
    <br>
    <input type="button" name="tz" value="Apply" onclick="applySettings()">
    <div align="left"><a href="/sim/cc3">Back</a></div>
</form>
</center>
<script>
function applySettings() {
    fetch('/api/profiles/tdma_acm', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({
            profile_num: document.querySelector('input[name="da"]').value,
            acm_enable: document.querySelector('input[name="db"]').checked,
            mode: parseInt(document.querySelector('select[name="dc"]').value),
            thresholds: {
                qpsk_1_2: parseFloat(document.querySelector('input[name="te"]').value),
                qpsk_2_3: parseFloat(document.querySelector('input[name="tf"]').value),
                qpsk_3_4: parseFloat(document.querySelector('input[name="tg"]').value),
                qpsk_5_6: parseFloat(document.querySelector('input[name="th"]').value)
            }
        })
    }).then(r => r.json()).then(d => alert('TDMA ACM settings applied: ' + JSON.stringify(d)));
}
</script>
</body>
</html>
