<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/ls.css">
    <title>Profiles - TDM/SCPC TX</title>
</head>
<body>
<center>
<h3>Profile <span id="profile_num">2</span> (<span id="profile_name">MF hub</span>)</h3>
<div class="tabs">
    <a href="/sim/profiles/basic" class="tab">Basic</a>
    <a href="/sim/profiles/tdm_rx" class="tab">TDM/SCPC RX</a>
    <a href="/sim/profiles/tdm_tx" class="tab active">TDM/SCPC TX</a>
    <a href="/sim/profiles/modulator" class="tab">Modulator</a>
    <a href="/sim/profiles/timing" class="tab">Timing</a>
    <a href="/sim/profiles/tlc" class="tab">TLC</a>
    <a href="/sim/profiles/tdm_acm" class="tab">TDM ACM</a>
    <br>
    <a href="/sim/profiles/tdma_rf" class="tab">TDMA RF</a>
    <a href="/sim/profiles/tdma_prot" class="tab">TDMA prot</a>
    <a href="/sim/profiles/tdma_bw" class="tab">TDMA BW</a>
    <a href="/sim/profiles/tdma_acm" class="tab">TDMA ACM</a>
    <a href="/sim/profiles/roaming" class="tab">Roaming</a>
</div>

<h3>Modulator</h3>
<form id="modulatorForm">
    <input name="da" type="hidden" value="2">
    <table>
        <tbody>
            <tr>
                <td><font style="BACKGROUND-COLOR: red">TX on</font></td>
                <td><input name="dd" type="checkbox" value="1"></td>
            </tr>
            <tr>
                <td>TX level (-dBm) 1.0-46.0</td>
                <td>
                    <input name="db" type="text" size="1" maxlen="1" value="36">
                    <div style="display:inline-block;position:relative;top:6px;left:0px;width:20px;">
                        <input type="button" name="ta" value="▴" class="p_b" style="height:1em; width:1.5em;line-height:1em;padding:0px;margin:0px;border:0px;background-color:#f3f3f3" onclick="adj('db',1)">
                        <input type="button" name="ta" value="▾" class="p_b" style="height:1em; width:1.5em;line-height:1em;padding:0px;margin:0px;border:0px;background-color:#f3f3f3" onclick="adj('db',-1)">
                    </div>
                    <span style="position:relative;top:8px">•</span>
                    <input name="dc" type="text" size="1" maxlen="1" value="0">
                    <div style="display:inline-block;position:relative;top:6px;left:0px;width:20px;">
                        <input type="button" name="tb" value="▴" class="p_b" style="height:1em; width:1.5em;line-height:1em;padding:0px;margin:0px;border:0px;background-color:#f3f3f3" onclick="adj('dc',1)">
                        <input type="button" name="tb" value="▾" class="p_b" style="height:1em; width:1.5em;line-height:1em;padding:0px;margin:0px;border:0px;background-color:#f3f3f3" onclick="adj('dc',-1)">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <input type="button" name="tf" value="Apply" onclick="applySettings()">
    <div align="left"><a href="/sim/cc3">Back</a></div>
</form>
</center>
<script>
function adj(field, delta) {
    let el = document.querySelector('input[name="'+field+'"]');
    let val = parseInt(el.value) + delta;
    if (val < 0) val = 0;
    if (val > 9) val = 9;
    el.value = val;
}
function applySettings() {
    let whole = parseInt(document.querySelector('input[name="db"]').value);
    let frac = parseInt(document.querySelector('input[name="dc"]').value);
    fetch('/api/profiles/tdm_tx', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({
            profile_num: document.querySelector('input[name="da"]').value,
            tx_on: document.querySelector('input[name="dd"]').checked,
            tx_level: whole + frac/10.0
        })
    }).then(r => r.json()).then(d => alert('TX settings applied: ' + JSON.stringify(d)));
}
</script>
</body>
</html>
