<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/ls.css">
    <title>Profiles - Timing</title>
</head>
<body>
<center>
<h3>Profile <span id="profile_num">2</span> (<span id="profile_name">MF hub</span>)</h3>
<div class="tabs">
    <a href="/sim/profiles/basic" class="tab">Basic</a>
    <a href="/sim/profiles/tdm_rx" class="tab">TDM/SCPC RX</a>
    <a href="/sim/profiles/tdm_tx" class="tab">TDM/SCPC TX</a>
    <a href="/sim/profiles/modulator" class="tab">Modulator</a>
    <a href="/sim/profiles/timing" class="tab active">Timing</a>
    <a href="/sim/profiles/tlc" class="tab">TLC</a>
    <a href="/sim/profiles/tdm_acm" class="tab">TDM ACM</a>
    <br>
    <a href="/sim/profiles/tdma_rf" class="tab">TDMA RF</a>
    <a href="/sim/profiles/tdma_prot" class="tab">TDMA prot</a>
    <a href="/sim/profiles/tdma_bw" class="tab">TDMA BW</a>
    <a href="/sim/profiles/tdma_acm" class="tab">TDMA ACM</a>
    <a href="/sim/profiles/roaming" class="tab">Roaming</a>
</div>

<h3>TDMA timing</h3>
<form id="timingForm">
    <input name="da" type="hidden" value="2">
    <table>
        <tbody>
            <tr>
                <td>Timing mode</td>
                <td>
                    <select name="de">
                        <option value="0">Location</option>
                        <option value="1">Value</option>
                        <option value="2" selected>Measure</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Satellite longitude</td>
                <td>
                    <input name="db" type="text" size="2" maxlen="2" value="0"> deg 
                    <input name="dc" type="text" size="2" maxlen="2" value="0"> min 
                    <select name="dd">
                        <option value="0" selected>E</option>
                        <option value="1">W</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Value (0 - 150000)</td>
                <td><input name="df" type="text" size="4" maxlen="4" value="0"> us</td>
            </tr>
        </tbody>
    </table>
    <br>
    <input type="button" name="tf" value="Apply" onclick="applySettings()">
    <div align="left"><a href="/sim/cc3">Back</a></div>
</form>
</center>
<script>
function applySettings() {
    fetch('/api/profiles/timing', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({
            profile_num: document.querySelector('input[name="da"]').value,
            timing_mode: parseInt(document.querySelector('select[name="de"]').value),
            sat_long_deg: parseInt(document.querySelector('input[name="db"]').value),
            sat_long_min: parseInt(document.querySelector('input[name="dc"]').value),
            sat_long_dir: parseInt(document.querySelector('select[name="dd"]').value),
            timing_value: parseInt(document.querySelector('input[name="df"]').value)
        })
    }).then(r => r.json()).then(d => alert('Timing settings applied: ' + JSON.stringify(d)));
}
</script>
</body>
</html>
