<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/ls.css">
    <title>Demodulator Settings</title>
</head>
<body>
<center>
    <h2>Demodulator 1 Configuration</h2>
    <table width="700">
        <tbody>
            <tr><th>Parameter</th><th>Value</th></tr>
            <tr><td>Status</td><td class="red"><b>Down</b></td></tr>
            <tr><td>Input Level</td><td><b>-64.6 dBm</b></td></tr>
            <tr><td>Frequency</td><td><b>1500 MHz</b></td></tr>
            <tr><td>Symbol Rate</td><td><b>5000 ksps</b></td></tr>
            <tr><td>Modulation</td><td><b>QPSK</b></td></tr>
            <tr><td>FEC</td><td><b>3/4</b></td></tr>
        </tbody>
    </table>
    <p><a href="/sim/ss40">Back to Overview</a></p>
</center>
</body>
</html>
