<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/ls.css">
    <title>Ethernet Settings</title>
</head>
<body>
<center>
    <h2>Ethernet Configuration</h2>
    <table width="700">
        <tbody>
            <tr><th>Port</th><th>Status</th><th>Speed/Duplex</th><th>IP Address</th></tr>
            <tr><td>ETH1</td><td class="green"><b>Up</b></td><td><b>100/FD</b></td><td><b>192.168.222.222</b></td></tr>
            <tr><td>ETH2</td><td class="red"><b>No Link</b></td><td><b>-/-</b></td><td><b>192.168.223.222</b></td></tr>
        </tbody>
    </table>
    <br>
    <table width="700">
        <tbody>
            <tr><th>Parameter</th><th>Value</th></tr>
            <tr><td>Default Gateway</td><td><b>192.168.222.1</b></td></tr>
            <tr><td>DNS Server</td><td><b>8.8.8.8</b></td></tr>
        </tbody>
    </table>
    <p><a href="/sim/ss40">Back to Overview</a></p>
</center>
</body>
</html>
