<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/ls.css">
    <title>System - General</title>
</head>
<body>
<center>
    <h2>System - General Settings</h2>
    <table width="700">
        <tbody>
            <tr><th>Parameter</th><th>Value</th></tr>
            <tr><td>Device Name</td><td><b>AC Sim</b></td></tr>
            <tr><td>Model</td><td><b>CEL-200X</b></td></tr>
            <tr><td>Serial Number</td><td><b>20097615</b></td></tr>
            <tr><td>Firmware Version</td><td><b>3.8.1.40 (21.02.2023)</b></td></tr>
            <tr><td>Uptime</td><td><b id="uptime">+01:18:03</b></td></tr>
            <tr><td>CPU Temperature</td><td><b id="sys_temp">60 C</b></td></tr>
        </tbody>
    </table>
    <p><a href="/sim/ss40">Back to Overview</a></p>
</center>
</body>
</html>
