<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset='utf-8' />
    <link rel="stylesheet" type="text/css" href="/static/css/lm.css">
    <title>CEL-AC Simulator</title>
    <style>
        .li-selector.active {
            background-color: #e0e0e0;
        }
        .li-selector {
            padding: 2px 0;
        }
        .nested {
            display: none;
        }
        .nested.active {
            display: block;
        }
        .caret {
            cursor: pointer;
            user-select: none;
        }
        .caret::before {
            content: "▶";
            color: #555;
            display: inline-block;
            margin-right: 3px;
            font-size: 10px;
        }
        .caret-down::before {
            content: "▼";
        }
        .st::before {
            content: "📁";
            font-size: 12px;
        }
        .stmi::before {
            content: "📄";
            font-size: 12px;
        }
        .mi {
            margin-left: 5px;
        }
        #myUL {
            list-style-type: none;
            padding-left: 12px;
            margin: 5px 0;
        }
        #myUL li {
            padding: 2px 0;
        }
        #myUL a {
            text-decoration: none;
            color: #333;
        }
        #myUL a:hover {
            color: #0066cc;
        }
        .tooltip {
            position: relative;
            display: inline-block;
            margin-right: 5px;
        }
        .tooltiptext {
            visibility: hidden;
            width: 80px;
            background-color: #333;
            color: #fff;
            text-align: center;
            border-radius: 3px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -40px;
            opacity: 0;
            transition: opacity 0.3s;
            font-size: 11px;
        }
        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
        .saveconf, .saveconf_active {
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url('/static/css/saveicon.png') no-repeat center center;
            background-size: contain;
            cursor: pointer;
        }
        .saveconf_active {
            background-color: #7dd228;
        }
        .clearfaults, .clearfaults_active {
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url('/static/css/clearicon.png') no-repeat center center;
            background-size: contain;
            cursor: pointer;
        }
        .clearfaults_active {
            background-color: #fe5e37;
        }
        .telnet {
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url('/static/css/telneticon.png') no-repeat center center;
            background-size: contain;
        }
    </style>
</head>
<body>
<div id="wrap">
    <div id="header">
        <a class="logo" href="/sim/ss35" target="mn"></a>
        <div class="status">
            <div class="tb" style="margin-left:10px;margin-right:5px;">
                <a href="/sim/ss35" target="mn">
                    <div id="SysLed" class="cg"></div>
                </a>
            </div>
            <div class="tb">
                <div class="tn">Name<br>Model</div>
                <div class="tv" style="max-width:150px;">
                    <span id="Name">AC Sim</span><br>CEL-200X
                </div>
                <div class="tn">Profile<br>State<span id="StateLock" class="lock" style="visibility:hidden;">&nbsp;</span></div>
                <div class="tv">
                    <a id="Profile" href="/sim/cb3?da=1" target="mn" style="max-width:250px;">1-Star station (           )</a>&nbsp;&nbsp;
                    <a href="#" onclick="prst(); return false;">↺</a><br>
                    <span id="State" style="color:#fe5e37;font-weight:600">No RX</span>
                </div>
            </div>
            <div class="ti">
                <div class="cg" id="Lan1"><a href="/sim/ss34" target="mn">LAN1</a></div>
                <div class="cw" id="Lan2"><a href="/sim/ss34" target="mn">LAN2</a></div>
            </div>
            <div class="ti">
                <div class="cw" id="Dem1"><a href="/sim/ss33" target="mn">DEM1</a></div>
                <div class="cwd" id="Dem2"><a href="/sim/ss27" target="mn">DEM2</a></div>
            </div>
            <div class="ti">
                <div class="cw" id="Mod"><a href="/sim/ss32" target="mn">MOD</a></div>
                <div class="cw" id="Net"><a href="/sim/ss37" target="mn">NET</a></div>
            </div>
            <div class="ti">
                <div class="cg" id="Sys"><a href="/sim/ss35" target="mn">SYS</a></div>
                <div class="cw" id="Mon"><a href="/sim/ss15" target="mn">MON</a></div>
            </div>
        </div>
    </div>
    
    <div id="content">
        <div id="tree">
            <div style="float:left">
                <div class="tooltip">
                    <span class="saveconf_active" id="SaveCfg" onclick="saveConfig()">&nbsp;</span>
                    <span class="tooltiptext">SaveConfig</span>
                </div>
                <div class="tooltip">
                    <span class="clearfaults" id="ClrFaults" onclick="clearFaults()">&nbsp;</span>
                    <span class="tooltiptext">ClearFaults</span>
                </div>
                <div class="tooltip">
                    <a href="telnet://192.168.222.222"><span class="telnet">&nbsp;</span></a>
                    <span class="tooltiptext">Telnet</span>
                </div>
            </div>
            
            <div style="clear:left; padding-top:3px;">
                <ul id="myUL">
                    <div class="li-selector active" style="margin-left:-12px;">
                        <li><a href="/sim/ss40" target="mn" onclick="tree_link(this);"> Overview</a></li>
                    </div>
                    <div class="li-selector" style="margin-left:-12px;">
                        <li><a href="/sim/cc2" target="mn" onclick="tree_link(this);"> Site setup</a></li>
                    </div>
                    <div class="li-selector" style="margin-left:-12px;">
                        <li><a href="/sim/cc3" target="mn" onclick="tree_link(this);"> Profiles</a></li>
                    </div>
                    <div class="li-selector" style="margin-left:-12px;">
                        <li><b></b><br></li>
                    </div>
                    
                    <li>
                        <span class="caret"><a>IP routing</a></span>
                        <ul class="nested">
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="st"><a href="/sim/ss4" target="mn" onclick="tree_link(this.parentElement)">&emsp;</a></span><span class="mi">&emsp;</span><a href="/sim/cc4" target="mn" onclick="tree_link(this);"> Static</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="stmi">&emsp;</span><span class="mi">&emsp;</span><a href="/sim/ss64" target="mn" onclick="tree_link(this);"> Dynamic</a></li>
                            </div>
                        </ul>
                    </li>
                    
                    <li>
                        <span class="caret"><a>IP protocols</a></span>
                        <ul class="nested">
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="st"><a href="/sim/ss9" target="mn" onclick="tree_link(this.parentElement)">&emsp;</a></span><span class="mi">&emsp;</span><a href="/sim/cc9" target="mn" onclick="tree_link(this);"> SNMP</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="st"><a href="/sim/ss8" target="mn" onclick="tree_link(this.parentElement)">&emsp;</a></span><span class="mi">&emsp;</span><a href="/sim/cc8" target="mn" onclick="tree_link(this);"> DHCP</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="st"><a href="/sim/ss59" target="mn" onclick="tree_link(this.parentElement)">&emsp;</a></span><span class="mi">&emsp;</span><a href="/sim/cc59" target="mn" onclick="tree_link(this);"> DNS</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="st"><a href="/sim/ss23" target="mn" onclick="tree_link(this.parentElement)">&emsp;</a></span><span class="mi">&emsp;</span><a href="/sim/cc23" target="mn" onclick="tree_link(this);"> ARP</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="st"><a href="/sim/ss7" target="mn" onclick="tree_link(this.parentElement)">&emsp;</a></span><span class="mi">&emsp;</span><a href="/sim/cc7" target="mn" onclick="tree_link(this);"> NAT</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="st"><a href="/sim/ss10" target="mn" onclick="tree_link(this.parentElement)">&emsp;</a></span><span class="mi">&emsp;</span><a href="/sim/cc10" target="mn" onclick="tree_link(this);"> RIPv2</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="stmi">&emsp;</span><span class="mi">&emsp;</span><a href="/sim/cc11" target="mn" onclick="tree_link(this);"> SNTP</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="stmi">&emsp;</span><span class="mi">&emsp;</span><a href="/sim/ss38" target="mn" onclick="tree_link(this);"> RTP</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="stmi">&emsp;</span><span class="mi">&emsp;</span><a href="/sim/cc21" target="mn" onclick="tree_link(this);"> TFTP</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="stmi">&emsp;</span><span class="mi">&emsp;</span><a href="/sim/ss62" target="mn" onclick="tree_link(this);"> GTP</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="st"><a href="/sim/ss39" target="mn" onclick="tree_link(this.parentElement)">&emsp;</a></span><span class="mi">&emsp;</span><a href="/sim/cc39" target="mn" onclick="tree_link(this);"> Multicast</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="st"><a href="/sim/ss12" target="mn" onclick="tree_link(this.parentElement)">&emsp;</a></span><span class="mi">&emsp;</span><a href="/sim/cc12" target="mn" onclick="tree_link(this);"> Acceleration</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="stmi">&emsp;</span><span class="mi">&emsp;</span><a href="/sim/cc13" target="mn" onclick="tree_link(this);"> Other settings</a></li>
                            </div>
                        </ul>
                    </li>
                    
                    <li>
                        <span class="caret"><a>QoS</a></span>
                        <ul class="nested">
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="st"><a href="/sim/ss5" target="mn" onclick="tree_link(this.parentElement)">&emsp;</a></span><span class="mi">&emsp;</span><a href="/sim/cc5" target="mn" onclick="tree_link(this);"> Policies</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="st"><a href="/sim/ss6" target="mn" onclick="tree_link(this.parentElement)">&emsp;</a></span><span class="mi">&emsp;</span><a href="/sim/cc6" target="mn" onclick="tree_link(this);"> Shapers</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="stmi">&emsp;</span><span class="mi">&emsp;</span><a href="/sim/cc16" target="mn" onclick="tree_link(this);"> Real-time</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="st"><a href="/sim/ss15" target="mn" onclick="tree_link(this.parentElement)">&emsp;</a></span><span class="mi">&emsp;</span><a href="/sim/cc15" target="mn" onclick="tree_link(this);"> Service mon.</a></li>
                            </div>
                        </ul>
                    </li>
                    
                    <li>
                        <span class="caret"><a>Network</a></span>
                        <ul class="nested">
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="stmi">&emsp;</span><span class="mi">&emsp;</span><a href="/sim/ss37" target="mn" onclick="tree_link(this);"> Overview</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="st"><a href="/sim/ss24" target="mn" onclick="tree_link(this.parentElement)">&emsp;</a></span><span class="mi">&emsp;</span><a href="/sim/cc24" target="mn" onclick="tree_link(this);"> Stations</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="stmi">&emsp;</span><span class="mi">&emsp;</span><a href="/sim/ss31" target="mn" onclick="tree_link(this);"> MF TDMA</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="stmi">&emsp;</span><span class="mi">&emsp;</span><a href="/sim/ss28" target="mn" onclick="tree_link(this);"> ACM</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="st"><a href="/sim/ss14" target="mn" onclick="tree_link(this.parentElement)">&emsp;</a></span><span class="mi">&emsp;</span><a href="/sim/cc14" target="mn" onclick="tree_link(this);"> STLC/NMS/Red</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="st"><a href="/sim/ss17" target="mn" onclick="tree_link(this.parentElement)">&emsp;</a></span><span class="mi">&emsp;</span><a href="/sim/cc17" target="mn" onclick="tree_link(this);"> COTM/AMIP</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="stmi">&emsp;</span><span class="mi">&emsp;</span><a href="/sim/cc50" target="mn" onclick="tree_link(this);"> Beam sw.</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="st"><a href="/sim/ss58" target="mn" onclick="tree_link(this.parentElement)">&emsp;</a></span><span class="mi">&emsp;</span><a href="/sim/cc58" target="mn" onclick="tree_link(this);"> Security</a></li>
                            </div>
                        </ul>
                    </li>
                    
                    <li>
                        <span class="caret"><a>System</a></span>
                        <ul class="nested">
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="stmi">&emsp;</span><span class="mi">&emsp;</span><a href="/sim/ss35" target="mn" onclick="tree_link(this);"> General</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="stmi">&emsp;</span><span class="mi">&emsp;</span><a href="/sim/cc18" target="mn" onclick="tree_link(this);"> Interfaces</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="stmi">&emsp;</span><span class="mi">&emsp;</span><a href="/sim/ss34" target="mn" onclick="tree_link(this);"> Ethernet</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="stmi">&emsp;</span><span class="mi">&emsp;</span><a href="/sim/ss33" target="mn" onclick="tree_link(this);"> Demodulator</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="stmi">&emsp;</span><span class="mi">&emsp;</span><a href="/sim/ss32" target="mn" onclick="tree_link(this);"> Modulator</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="stmi">&emsp;</span><span class="mi">&emsp;</span><a href="/sim/cc19" target="mn" onclick="tree_link(this);"> Time-related</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="stmi">&emsp;</span><span class="mi">&emsp;</span><a href="/sim/cc20" target="mn" onclick="tree_link(this);"> User access</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="stmi">&emsp;</span><span class="mi">&emsp;</span><a href="/sim/cc41" target="mn" onclick="tree_link(this);"> Flash/Boot</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="stmi">&emsp;</span><span class="mi">&emsp;</span><a href="/sim/cc1" target="mn" onclick="tree_link(this);"> Save/load</a></li>
                            </div>
                        </ul>
                    </li>
                    
                    <li>
                        <span class="caret"><a>Maintenance</a></span>
                        <ul class="nested">
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="stmi">&emsp;</span><span class="mi">&emsp;</span><a href="/sim/ss30" target="mn" onclick="tree_link(this);"> Support info</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="stmi">&emsp;</span><span class="mi">&emsp;</span><a href="/sim/ss52" target="mn" onclick="tree_link(this);"> Log</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="stmi">&emsp;</span><span class="mi">&emsp;</span><a href="/sim/ss54" target="mn" onclick="tree_link(this);"> Pointing</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="stmi">&emsp;</span><span class="mi">&emsp;</span><a href="/sim/cc56" target="mn" onclick="tree_link(this);"> Spectrum</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="stmi">&emsp;</span><span class="mi">&emsp;</span><a href="/sim/cc42" target="mn" onclick="tree_link(this);"> Run script</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="st"><a href="/sim/ss44" target="mn" onclick="tree_link(this.parentElement)">&emsp;</a></span><span class="mi">&emsp;</span><a href="/sim/cc44" target="mn" onclick="tree_link(this);"> Tuning</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="stmi">&emsp;</span><span class="mi">&emsp;</span><a href="/sim/cc43" target="mn" onclick="tree_link(this);"> Traffic gen.</a></li>
                            </div>
                            <div class="li-selector" style="margin-left:-24px;">
                                <li><span class="stmi">&emsp;</span><span class="mi">&emsp;</span><a href="/sim/cc51" target="mn" onclick="tree_link(this);"> Reboot</a></li>
                            </div>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        
        <div id="main">
            <iframe src="/sim/ss40" name="mn" frameborder="0"></iframe>
        </div>
    </div>
</div>

<script>
// Tree menu toggle functionality
var toggler = document.getElementsByClassName('caret');
var i;
for (i = 0; i < toggler.length; i++) {
    toggler[i].addEventListener('click', function() {
        this.parentElement.querySelector('.nested').classList.toggle('active');
        this.classList.toggle('caret-down');
    });
}

// Auto-refresh status every 5 seconds
setInterval(rfr, 5000);

function saveConfig() {
    document.getElementById('SaveCfg').className = 'saveconf';
    fetch('/sim/z');
}

function clearFaults() {
    document.getElementById('ClrFaults').className = 'clearfaults';
    fetch('/sim/hz');
}

function prst() {
    fetch('/sim/hy');
    return false;
}

function rfr() {
    var led = document.getElementById('SysLed');
    var col = led.style.background;
    led.style.background = 'white';
    setTimeout(() => {
        led.style.background = col;
    }, 150);
    
    fetch('/sim/JS0')
        .then((response) => {
            return response.json();
        })
        .then((data) => {
            document.getElementById('Name').textContent = data.Name;
            document.getElementById('Profile').text = data.Profile;
            document.getElementById('Profile').href = 'cb3?da=' + data.ProfileNum;
            document.getElementById('State').textContent = data.State;
            document.getElementById('State').style.color = data.StateColor;
            document.getElementById('State').style.fontWeight = data.StateWeight;
            document.getElementById('StateLock').style.visibility = data.StateLock;
            document.getElementById('Lan1').className = data.Lan1;
            document.getElementById('Lan2').className = data.Lan2;
            document.getElementById('Dem1').className = data.Dem1;
            document.getElementById('Dem2').className = data.Dem2;
            document.getElementById('Mod').className = data.Mod;
            document.getElementById('Net').className = data.Net;
            document.getElementById('SaveCfg').className = data.Cfg;
            document.getElementById('ClrFaults').className = data.Flt;
            document.getElementById('SysLed').className = data.SysLed;
            document.getElementById('Sys').className = data.Sys;
            document.getElementById('Mon').className = data.Mon;
        })
        .catch((error) => {
            console.log('Status update error:', error);
        });
}

var sti = 0;
function tree_link(el) {
    if (sti != 0) {
        sti.classList.remove('active');
    }
    sti = el.parentElement.parentElement;
    sti.classList.add('active');
}
</script>
</body>
</html>
